#mainBoxLight {
    overflow-x: hidden;
    display: flex;
    transition: ease-in, 300ms;
    background-color: rgb(243, 243, 243);
    height: 200vh;
    color: rgb(66, 66, 66);
}

#mainBoxDark {
    overflow-x: hidden;
    display: flex;
    transition: ease-in, 300ms;
    background-color: rgb(58, 58, 58);
    height: 100vh;
    color: rgb(230, 230, 230);
}

.presentation {
    z-index: 2;
    text-align: left;
    font-family: 'Roboto';
    margin-top: 40px;
}

.title {
    margin-left: 220px;
    width: 100%;
    font-size: 130px;
}

.subtitle {
    margin-left: 240px;
    width: 100%;
    font-size: 60px;
}

.presentationbckgrndLight {
    transition: ease-in, 300ms;
    color: rgb(231, 231, 231);
    margin-left: 10px;
    font-size: 500px;
    position: relative;
    top: -110px;
}


.slide{
    position: fixed;
}

.presentationbckgrndDark {
    transition: ease-in, 300ms;
    color: rgb(51, 51, 51);
    margin-left: 10px;
    font-size: 500px;
    position: relative;
    top: -110px;
}

@media only screen and (max-width: 1270px) {
    .title {
        font-size: 80px;
    }
    .subtitle {
        font-size: 40px;
    }
    .presentationbckgrndLight {
        font-size: 350px;
        margin-left: 1px;
        margin-top: 30px;
    }
    .presentationbckgrndDark {
        font-size: 35px;
        margin-left: 1px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .title {
        margin-top: 6px;
        font-size: 30px;
        margin-left: 110px;
    }
    .subtitle {
        font-size: 20px;
        margin-left: 100px;
    }
    .presentationbckgrndLight {
        font-size: 200px;
        margin-left: 1px;
        margin-top: 70px;
    }
    .presentationbckgrndDark {
        font-size: 200px;
        margin-left: 1px;
        margin-top: 70px;
    }
    .avatar {
        margin-top: 44px;
    }
}