
#mainBoxLight {
    display: flex;
    transition: ease-in, 300ms;
    background-color: rgb(243, 243, 243);
    height: 100vh;
    color: rgb(66, 66, 66);
}


#mainBoxDark {
    display: flex;
    transition: ease-in, 300ms;
    background-color: rgb(58, 58, 58);
    height: 100vh;
    color: rgb(230, 230, 230);
}

.presentation {
    z-index: 2;
    text-align: left;
    font-family: 'Roboto';
    margin-top: 10px;
}

.title {
    margin-left: 220px;
    width: 100%;
    font-size: 160px;
}

.subtitle {
    margin-left: 210px;
    width: 100%;
    font-size: 60px;
}

.presentationbckgrndLight {
    transition: ease-in, 300ms;
    color: rgb(231, 231, 231);
    margin-left: 90px;
    font-size: 500px;
    position: fixed;
    top: -110px;
}

.presentationbckgrndDark {
    transition: ease-in, 300ms;
    color: rgb(51, 51, 51);
    margin-left: 90px;
    font-size: 500px;
    position: fixed;
    top: -110px;
}