* {
    margin: 0;
}

.navDark {
    z-index: 100;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    color: rgb(230, 230, 230);
    display: flex;
    transition: ease-in, 300ms;
    background-color: rgb(43, 43, 43);
    height: 100vh;
    width: 90px;
}

.iconList {
    list-style: none;
    margin-top: 300px;
    margin-left: -20px;
}

ul {
    padding: 0;
}

.iconLight {
    display: flex;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
}

.iconLight:hover {
    transition: ease-in, 300ms;
    background-color: rgb(51, 51, 51);
}

.iconLight:hover>p {
    color: rgb(230, 230, 230);
}

.iconLight:hover>img {
    filter: invert(100);
}

.iconLight>img {
    margin-left: 38px;
}

.iconLight>p {
    font-family: 'Roboto';
    font-size: 20px;
    margin-top: 14px;
    margin-left: 22px;
}

.iconDark {
    display: flex;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
}

.iconDark>img {
    filter: invert(100);
}

.iconDark:hover {
    transition: ease-in, 300ms;
    background-color: rgb(230, 230, 230);
}

.iconDark:hover>p {
    color: rgb(51, 51, 51);
}

.iconDark:hover>img {
    filter: invert(0);
}

.iconDark>img {
    margin-left: 38px;
}

.iconDark>p {
    font-family: 'Roboto';
    font-size: 20px;
    margin-top: 14px;
    margin-left: 22px;
}

.navDark:hover {
    width: 200px;
}

.navDark:hover>.switch>p {
    visibility: visible;
    opacity: 1;
}

.navLight:hover {
    width: 200px;
}

.navLight:hover>.switch>p {
    visibility: visible;
    opacity: 1;
}

.navLight:hover .avatarIcon {
    margin-top: 70px;
    margin-left: 7px;
    width: 160px;
}

.navDark:hover .avatarIcon {
    margin-top: 70px;
    margin-left: 7px;
    width: 160px;
}

.navLight {
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 100;
    position: fixed;
    display: flex;
    color: rgb(66, 66, 66);
    transition: ease-in, 300ms;
    background-color: rgb(226, 226, 226);
    height: 100vh;
    width: 90px;
}

.switch {
    display: flex;
    position: fixed;
    top: 93vh;
    margin-left: 13px;
}

.switch>p {
    margin-top: 10px;
    font-family: 'Roboto';
    margin-left: 10px;
    display: flex;
    visibility: hidden;
    opacity: 0;
}

.avatar {
    position: fixed;
    cursor: pointer;
    margin-left: 7px;
    margin-top: 10px;
}

.avatar:hover>img {
    opacity: 0.5;
}

a {
    color: inherit;
}

.avatarIcon {
    transition: ease-in, 300ms;
    width: 70px;
    border-style: solid;
    border-radius: 100px;
}

@media only screen and (max-width: 800px) {
    .navLight {
        display: none;
    }
    .navDark {
        display: none;
    }
}