#Projects {
    margin-top: 100px;
    height: 950px;
    margin-left: 210px;
    color: rgb(66, 66, 66);
    font-family: 'Roboto';
}

#SecondBox {
    margin-top: 0px;
}

#boxSlideActiveLight {
    background-color: rgba(219, 218, 218, 0.486);
    transition: linear, 600ms;
    width: 830px;
    position: relative;
    left: -0px;
    height: 257px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}

#boxSlideActiveDark {
    background-color: rgba(94, 94, 94, 0.486);
    transition: linear, 600ms;
    width: 830px;
    position: relative;
    left: -0px;
    color: rgb(201, 201, 201);
    height: 257px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}

.projectText {
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
}

.viewOnGithubLight {
    color: rgb(231, 231, 231);
    background-color: rgb(66, 66, 66);
    height: 35px;
}

.viewOnGithubDark {
    color: rgb(231, 231, 231);
    background-color: rgb(48, 48, 48);
    height: 35px;
}

.projectImage {
    border-bottom-right-radius: 10px;
    width: 350px;
}

.githubLogoLight {
    margin-left: 5px;
    width: 90px;
    filter: invert(100);
}

.githubLogoDark {
    margin-left: 5px;
    width: 90px;
    filter: invert(100);
}

.project {
    display: flex;
}

#boxSlideLight {
    background-color: rgba(219, 218, 218, 0.486);
    transition: linear, 600ms;
    width: 830px;
    position: relative;
    left: -1000px;
    height: 257px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}

#boxSlideDark {
    background-color: rgba(94, 94, 94, 0.486);
    transition: linear, 600ms;
    width: 830px;
    position: relative;
    left: -1000px;
    color: rgb(201, 201, 201);
    height: 257px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    #Projects {
        margin-top: 0;
        margin-left: 0px;
    }
    #secondBoxLight {
        margin-left: 0px;
    }
    #secondBoxDark {
        margin-left: 0px;
    }
    #boxSlideActiveLight {
        width: 100vw;
    }
    #boxSlideLight {
        width: 100vw;
    }
    #boxSlideActiveDark {
        width: 100vw;
    }
    #boxSlideDark {
        width: 100vw;
    }
    .projectText {
        font-size: 13px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1366px) {
    #Projects {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 1050px) {
    #boxSlideActiveLight {
        width: 700px;
    }
    #boxSlideLight {
        width: 700px;
    }
    #boxSlideActiveDark {
        width: 700px;
    }
    #boxSlideDark {
        width: 700px;
    }
    .projectText {
        font-size: 13px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .projectImage {
        display: none;
    }
    #boxSlideActiveLight {
        width: 100vw;
        height: 200px;
    }
    #boxSlideLight {
        height: 200px;
    }
    #boxSlideActiveDark {
        width: 100vw;
        height: 200px;
    }
    #boxSlideDark {
        height: 200px;
    }
}